.box{
    position: relative;
    width: 90vw;
    margin: 5% auto;
}
input{
    border: solid 1.5px blanchedalmond;
    border-radius: 5px;
    background: none;
    padding: .5rem;
    font-size: 1rem;
    transition: 150ms cubic-bezier(.4, 0, .2, 1);
}
label{
    position: absolute;
    left: 16px;
    pointer-events: none;
    transition: 150ms cubic-bezier(.4, 0, .2, 1);
    transform: translateY(1rem);
}
input:focus{
    outline: none;
    border: 1.5px solid lightsteelblue;
}
input:focus ~ label{
    transform: translateY(-50%) scale(1.1);
    background: lightsteelblue;
    color: #000;
}